<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161095567640-nr41700p1s4cbr6jken5t4bgft9gqhj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161095567640-nr41700p1s4cbr6jken5t4bgft9gqhj4</string>
	<key>API_KEY</key>
	<string>AIzaSyAtuY-Ld3FFUfwSqFDsOpQSehJwvlv_jws</string>
	<key>GCM_SENDER_ID</key>
	<string>161095567640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unschool.unschool</string>
	<key>PROJECT_ID</key>
	<string>my-community-classroom-app</string>
	<key>STORAGE_BUCKET</key>
	<string>my-community-classroom-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161095567640:ios:c1238c7d9c3d8dc022b66d</string>
	<key>DATABASE_URL</key>
	<string>https://my-community-classroom-app.firebaseio.com</string>
</dict>
</plist>